@font-face {
    font-family: 'Baskerville';
    font-style: regular;
    font-weight: regular;
    src: url('assets/fonts/baskerville.woff') format('woff');
}

@font-face {
    font-family: 'Berlin';
    font-style: normal;
    font-weight: normal;
    src: url('assets/fonts/berlinsans-webfont.woff') format('woff');
}

:root {
    --grid-container: minmax(90px, 1fr) [inner-start] minmax(0, 120rem) [inner-end] minmax(90px, 1fr);
    --grid-inner: repeat(3, 1fr);
    --font-accent: 'Berlin', sans-serif;
    --font-main: 'Baskerville', serif;
    --font-scale:1.25;
    --font-base: 1rem;
    --font-size-1: var(--font-base); /*16px*/
    --font-size-2: calc(var(--font-size-1) * var(--font-scale)); /*20px*/
    --font-size-3: calc(var(--font-size-2) * var(--font-scale)); /*25*/
    --font-size-4: calc(var(--font-size-3) * var(--font-scale)); /*31.25px*/
    --font-size-5: calc(var(--font-size-4) * var(--font-scale)); /*39.06px*/
    --font-size-6: calc(var(--font-size-5) * var(--font-scale)); /*48.83*/
    --font-size-7: calc(var(--font-size-6) * var(--font-scale)); /*61.04*/
    --color-bg-light: #FFF9EF;
    --color-dark: #222;
    --color-font-accent: #FAE8CC;
    --color-font-text: #898989;

}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
    border-radius: 10px;
}

/* TYPOGRAPHY */

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-accent);
    color: var(--color-font-accent);
}

p {
    font-family: var(--font-base);
}

a {
    text-decoration: none;
    color:var(--color-font-accent);
    font-family: var(--font-main);
}

.container {
    display: grid;
}

/* HEADER */

.header {
    display: grid;
    grid-template-columns: var(--grid-container);
    position: fixed;
    background-color: var(--color-dark);
    z-index: 9;
}

.header__inner {
    grid-column: inner;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header__logo {
    font-size: var(--font-size-1);
    font-family: var(--font-accent);
    color: var(--color-font-accent);
}

/* BUTTON */

.menu-btn {
    background-color: rgba(0, 0, 0, 0);
    height: 18px; 
    position: relative;
    border: none;
    border-radius: 0;
    cursor: pointer;
}

.menu-btn__burger, 
.menu-btn__burger::before,
.menu-btn__burger::after {
    height: 2px;
    width: 24px;
    background-color: var(--color-bg-light);
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    display: block;
    content: '';
    position: absolute;
}

.menu-btn__burger::before {
    top: 0;
}

.menu-btn__burger::after {
    bottom: 0px;
}

/* HERO */

.hero {
    display: grid;
    grid-template-columns: var(--grid-container);
    background-color: var(--color-dark);
}

.hero__inner {
    grid-column: inner;
    display: flex;
    justify-content: center;
    margin: 14.25rem 0 6rem;
}

.hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-font-accent);
    z-index: 10;
}

.hero__mandala {
    width: 44,67rem;
    opacity: 15%;
    position: absolute;
    top: 2.6rem;
    z-index: 1;
}

figure {
    display: flex;
    z-index: 2;
}

.hero__title {
    margin: 2rem 0 1rem;
    font-size: var(--font-size-6);
    z-index: 2;
}

.hero__text {
    font-family: var(--font-base);
    font-size: var(--font-size-2);
    z-index: 2;
}

.hero__arrow-icon {
    margin-top: 8rem;
}

.hero__title::after {
    display: block;
    background-color: var(--color-font-accent);
    margin: 0 auto;
    height: 1px;
    width: 70px;
    content: '';
    z-index: 2;
}

.hero__link {
    font-family: var(--font-main);
    margin: 1rem 0 8rem;
    font-size: var(--font-size-1);
    z-index: 2;
}

/* SECTION 1 */

.promo {
    display: grid;
    grid-template-columns: var(--grid-container);
    background-color: var(--color-bg-light);
}

.promo + img {
    border-radius: 10px;
    margin-top: -4rem;
}

.promo__inner {
    grid-column: inner;
    margin-top: -4rem;
}

.promo__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promo__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 6rem;
}

.promo__text {
    margin: 2rem 0 6rem;
    font-size: var(--font-size-2);
    color: var(--color-dark);
    max-width: 850px;
    line-height: 2;
    font-family: var(--font-main);
}

/* SECTION 2 */

.gallery {
    display: grid;
    grid-template-columns: var(--grid-container);
    background-color: var(--color-bg-light);
    font-family: var(--font-main);
}

.gallery__inner {
    display: grid;
    grid-column: inner;
    gap: 2rem;
    display: flex;
    justify-content: center;
}

.gallery__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8rem;
    width: 450px;
}

.gallery__text {
    color: var(--color-font-text);
    font-size: var(--font-size-2);
    text-align: center;
    margin-top: 1rem;
    line-height: 1.6;
}

.gallery__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Section 3 */

.clients {
    display: grid;
    grid-template-columns: var(--grid-container);
    background-color: var(--color-dark);
    position: relative;
    overflow: hidden;
}

.clients__inner {
    grid-column: span 3;
}

.clients__inner-container {
    margin: 8rem 4rem 8rem;
    max-width: 550px;
}

.clients__content {
    display: flex;
    grid-column: inner;
}

.clients__lotus {
    margin-bottom: 2rem;
}

.clients__title {
    color: var(--color-font-accent);
    font-size: var(--font-size-4);
    padding: 0;
    margin:0;
}

.clients__title::after {
    display: block;
    content: '';
    height: 1px;
    width: 70px;
    margin: 1rem 0;
    background-color:var(--color-font-accent);
}

.clients__text {
    font-size: var(--font-size-2);
    color: var(--color-font-text);
    line-height: 1.6;
}

.clients__title + p{
    margin: 0 0 2rem;
}

.clients__img img {
    object-fit: contain;
    height: 724px;
    border-radius: 0;
}

.clients__contact {
    margin-top: 1rem;
    display: inline-flex;
    align-items: center;
}

.clients__link {
    color: var(--color-font-accent);
    margin-left: 1rem;
}

.clients__arrow-icon {
    transform: rotate(270deg);
}

.clients__mandala {
    position: absolute;
    width: 714px;
    top: 19vh;
    left: 77vw;
    opacity: 15%;
    object-fit: contain;
}

.share {
    display: grid;
    grid-template-columns: var(--grid-container);
    background-color: var(--color-bg-light);
}

.share__inner {
    grid-column: inner;
}
.share span {
    color: var(--color-font-text);
}

.share__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: inner;
    margin: 6rem 0;
}

.share__title {
    color:var(--color-dark);
    margin-top: 2rem;
    font-size: var(--font-size-4);
}

.share__date {
    margin: 2rem 0;
    font-size: var(--font-size-2);
}

.share__text {
    font-size: var(--font-size-2);
    max-width: 880px;
    margin-top: 2rem;
    text-align: center;
    line-height: 2;
}

.share__img img{
    display: block;
    margin-top: 1rem;
    max-width: 1032px;
}

.footer {
    display: grid;
    grid-template-columns: var(--grid-container);
    background-color: var(--color-dark);
    padding: 6rem 0 3rem;
    overflow: hidden;
    position: relative;
}

.footer__inner {
    grid-column: inner;
    display: flex;
    flex-direction: column;
}

.footer__content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 18.38rem;
    width: 429px;
    justify-content: space-between;
    margin-bottom: 8rem;
}

.footer__title {
    font-size: var(--font-size-3);
}

.footer__title::after {
    display: block;
    content: '';
    width: 70px;
    height: 1px;
    background-color: var(--color-font-accent);
    margin: 1rem auto;
}

.footer__text {
    color:var(--color-font-text);
    font-size: var(--font-size-2);
}

.footer__link {
    color: var(--color-font-accent);
}

.footer__copy {
    font-size: var(--font-size-1);
    color: var(--color-font-text);
    display: flex;
    justify-content: flex-start;
    grid-column: inner;
    
}

.footer__arrow-icon {
    transform: rotate(-90deg);
    margin-right: 1rem;
}

.footer__contact {
    display: inline-flex;
    align-items: center;
}

.footer__mandala {
    opacity: 15%;
    top: 16vh;
    left: 72vw;
    position: absolute;
    width: 701px;

}

@media screen and (max-width:1492px)
{
    .clients__img div {
        margin: 2rem;
        width: 55vw;
    }

    .clients__inner-container {
        margin: auto 6rem;
        max-width: 100vw;
    }
}

@media screen and (max-width: 1272px)
{
    .clients__inner-container {
        max-width: auto;
    }

    .clients__title::after {
        margin: 1rem 0;
    }

    .clients__img img{
        width: auto;
        border-radius: 10px;
        margin: 0;
    }

    .clients__mandala {
        top: 102vh;
        left: 60%;
        width: 80%;
}

@media screen and (max-width: 1100px)
{

    .hero__mandala {
        top: 50%;
        transform: translateY(-50%);
        object-fit: contain;
    }
     img.img {
        display: block;
        max-width: 90vw;
        border-radius: 10;
     }

     .hero {
         margin-bottom: 0;
     }

     .promo {
         margin-top: 0;
     }

    .clients {
        display: grid;
        padding-top: 0;
    }

    .clients__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .clients__img img {
        border-radius: 0px 0px 10px 10px;
        object-fit: contain;
        height: max-content;
    }

    .clients__inner-container {
        align-items: center;
        justify-content: center;
        margin: 4rem 6rem 6rem;
    }

    .clients__title::after {
        margin: 1rem auto;
    }

    .clients__lotus {
        display: block;
        margin-bottom: 2rem;
    }

    p .clients__text {
        margin-top: 2rem;
    }

    .gallery__inner{
        grid-column: inner;
        display: flex;
        flex-wrap: wrap;
        gap: 4rem;
    }

    .gallery {
        padding-bottom: 6rem;
    }

    .gallery__img {
        width: 100vw;
    }

    .gallery__content {
        margin-bottom: 0rem;
    }

    .gallery__text {
        margin: 1rem 2rem 0; 
    }

    .share__title {
        text-align: center;
    }

    .share__text {
        max-width: 650px;
    }

    .footer {
        display: block;
    }

    .footer__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 480px)
{

    .hero__inner {
        margin: 6rem 0;
        display: block;
    }

    .share {
        display: block;
    }

    .share__inner {
        margin: 0 3rem;
    }

    img.img {
        display: block;
    }

    .promo {
        display: block;
        padding: 0 2rem;
    }

    .header__inner {
        height: 70px;
    }
    .gallery {
        display: block;
    }
    .footer__content {
        padding: 0 2rem;
    }

    .footer__mandala {
        top: 48vh;
        width: 80%;
    }

    .clients {
        padding-top: 0;
    }

    .clients__inner {
        margin:0;
    }

    .clients__inner-container {
        margin: 4rem 3rem 6rem;
    }

    img.img {
        display: block;
        width: 100vw;
        border-radius: 0;
    }
    
    .gallery__inner {
        gap: 2rem;
    }
    
    .gallery__img {
        width: 80vw;
    }
}

@media screen and (max-width: 320px) {
    img.img {
        min-width: 100vw;
    }
}